.comboxTree-panal ul,li{
    list-style:none;
    padding:0;
    margin:0;
}

.comboxTree-panal {
    position: absolute;
    background-color: #fff;
    width: 160px;
    border:1px #d6e2f3 solid;
    max-height:400px;
    overflow-y:auto;
    overflow-x:hidden;
}
.comboxTree-panal li{
    cursor:pointer;
}
.comboxTree-panal div:hover{
    padding-left:2px;
    background-color:#d6e2f3;
}

.comboxTree-panal a {
    vertical-align:top;
    padding-left:2px;
}

.comboxTree-panal li li{
    padding-left:10px;
}

.comboxTree-panal .tree-icon{
    display:inline-block;
    width:16px;
    height:18px;
}
.comboxTree-panal .tree-expand{
    background:url(/Images/tree_icons.png) no-repeat -0px 0px;
}

.comboxTree-panal .tree-expanded{
    background:url(/Images/tree_icons.png) no-repeat -18px 0px;
}

.comboxTree-panal .tree-folder{
    background:url(/Images/tree_icons.png) no-repeat -208px 0px;
}
.comboxTree-panal .tree-folder-open{
    background:url(/Images/tree_icons.png) no-repeat -224px 0px;
}
.comboxTree-panal .tree-item{
    background:url(/Images/tree_icons.png) no-repeat -240px 0px;
    margin-left: 3px;
}


